/* Frequently used CSS Stules */
body{
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Lato', sans-serif; */
}

.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    color:  #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px 19px 36px;
    border: 0;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color:  #757575;
    text-align: center;
    font-size: 18px;
}


/* Navigation Bar */
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 230px 0 226px;
}

nav > ul {
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 51px;
}

nav a{
    text-decoration: none;
    color: #474747;
}

/* Header */
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pro-pic{
    width: 584px;
    height: 676px;
}
.banner-greeting{
    color:  #474747;
    font-size: 45px;
    margin-bottom: 0px;
}
.banner-title{
    color:  #181818;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
}
.banner-content{
    width: 585px;
}

/* Main Section */

/* About Section */
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px;
}